
body {
  margin: 0;



}
.body-image {
  /* display: block; */
  width: 25%;
}
.skill-image {
  float: left;
  width: 30%;
  padding-right: 15px;
}

.car-image {
  float: right;
  padding-left: 15px;
}

h1 {
  color: #66BFBF;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 5rem;


}
h2 {
  color: #66BFBF;
  font-family: 'ZCOOL KuaiLe', cursive;
  font-weight: normal;
  font-size: 2.5em;
  margin-top: 0;
}
h3, a {
  color: #11999E;
}
.under {
  text-decoration: underline;
}
.top {
  text-align: center;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  /* text-align: right; */
  line-height: 2;
}
.top-container {
  margin: 0 auto;
  background-color: #F0A500;
  position: relative;
  padding-top: 100px;
    text-align: center;
}

.middle-container {
text-align: center;

}

.bottom-container {
text-align: center;
background-color: #66BFBF;
padding: 25px;

}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
hr {
  border-style: dotted;
  border-width: 25px;
  width: 20%;
  margin: 100px auto;
  border-color: #EAF6F6;
}
.footer-link {
  text-decoration: none;
  font-family: sans-serif;
  padding: 0 25px;
}
.btn {
  font-size:15px;
  font-family:Arial;
  background:linear-gradient(#7d5d3b, #634b30);
  padding: 20px;
  display: block;
  width: 10%;
  margin: 20px auto;
}
