  .mike {
    border-radius: 30%;
  }

  body {
    background-color: #E0C097;
  }

  hr {
    border-style: dashed none none none;
    border-width: 20px;
    width: 40%;
  }

  a {
    text-decoration: none;
  }
